body{
    margin: 0;
    background-color: #1f3a32;
    font-family: general-sans, sans-serif;
}
.hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    text-align: center;
}
.pa{
    text-align: center;
    margin: auto;
}
.hero h1{
    font-size: 72px;
    font-weight: 700;
    color: #8fe0c4;
    /* line-height: 1.05; */
} 
.hero .name{
    font-weight: 800;
}
/* STYLISER LA BARRE DE NAVIGATION */
nav{
    background-color:  hsl(180, 1%, 28%);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.nav{
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    color: #152868;
}
nav .active{
    background-color: hsl(180, 1%, 20%);
    font-weight: bold;
}
nav ul li a{
    padding: 15px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
nav ul li a:hover{
    background-color: hsl(180, 1%, 20%);
    color: #ffffff;
}
/* Style pour les éléments de la barre de navigation */
li a {
    color: rgb(212, 213, 214);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
}
/* Style pour les éléments de la liste */
ul li{
    display: inline-block;
    margin: 0 15px;
}
/* Style pour les liens de la barre de navigation au survol */
li a:hover{
    color: turquoise;
}
.inprogress{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: #8fe0c4; 
}
.pb{
    text-align: center;
    margin-top: 60px;
}
/* STYLISER LE PIED DE PAGE */
.footer{
     display: grid;
    grid-template-columns: 1fr auto;
    padding: 60px;
    font-size: 14px;
    color: #555;
}
 
.footer-left{
    align-self: start;
}
.table-footer{
    justify-content: end;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    padding: 20px;
}
.image1{
    background: #171d19;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.message{
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0,0.7,);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    z-index: 2;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.image1 img{
    width: 100%;
    height: 160%;
    border-radius: 10px;
    object-fit: contain;
    margin-top: auto;
}
.image2{
    background: #171d19;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.image2 img{
    width: 100%;
    height: 160%;
    border-radius: 10px;
    object-fit: contain;
    margin-top: auto;
}