body{
    margin: 0;
    background-color: #1f3a32;
    font-family: general-sans, sans-serif;
}
.container{
    border: 1px solid #555;
    background-color: rgba(255, 255, 255, 0.829);
    padding: 12px 24px;
    border-radius: 30px;
    position: fixed;
    top: 10px; /*distance depuis le haut*/
    left: 50%; /*CENTRER DE MANIèRE HORIZONTALE*/
    transform: translateX(-50%);
    border: 1px solid white; /* Couleur de l'encadrement*/
    width: 30%; /*la largeur de la barre de navigation*/
    padding-left: 100px; /*espace entre work et la barre de navigation*/

}
/* lIENS*/
.container ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 10px;
    padding: 0;
}
.container a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(11, 27, 11, 0.89);
    font-weight: bold;
}

/* TITRE */
.hero{
    padding: 10px;
    text-align: center;
}
/* style du gros titre */
.hero h1{
    font-size: 100px;
    color: #CFEDE3;
}
/* styliser le texte en dessous */
.hero p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    color: white;
}
.inprogress{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: #8fe0c4; 
}
.pb{
    text-align: center;
    margin-top: 60px;
}
/* STYLISER LE PIED DE PAGE */
.footer{
     display: grid;
    grid-template-columns: 1fr auto;
    padding: 50px;
    font-size: 20px;
    color: hwb(120 71% 9% / 0.685);
    margin: 80px;
}
 
.footer-left{
    align-self: start;
    color: whitesmoke;
    font-size: 20px; /*augmenter la police d'un element*/
    margin: 80px;
}
.table-footer{
    justify-content: end;
    /* border-collapse: separate; */
    border-spacing: 20px 30px;
}
.table-footer a{
    text-decoration: none;
    color: whitesmoke;
}
.td, th {
    /* padding: 15px 25px; */
    min-width: 70px;
}
.grid1{
   display: grid;
    /* grid-template-columns: 1fr 2fr ; */
    gap: 20px;
    padding: 20px;
    border: 1px solid rgb(180, 59, 59);
    width: 40%; /*DIMENTIONNEMENT DE LA DIV*/
    border-radius: 50px; /*ARRONDIR LES BORDS DE LA DIV*/
    background-color:rgba(128, 0, 128, 0.699); 
    margin: 20px; 
    height: 600px;
    overflow: hidden;
}
.grid2{
   display: grid;
    /* grid-template-columns: 1fr 2fr ; */
    gap: 20px;
    padding: 20px;
    border: 1px solid rgb(180, 59, 59);
    width: 60%; /*DIMENTIONNEMENT DE LA DIV*/
    border-radius: 50px; /*ARRONDIR LES BORDS DE LA DIV*/
    background-color: rgba(135, 207, 235, 0.582); 
    margin: 20px;
    height: 600px; 
    overflow: hidden;
}
.grid3{
   display: grid;
    /* grid-template-columns: 1fr 2fr ; */
    gap: 20px;
    padding: 20px;
    border: 1px solid rgb(180, 59, 59);
    width: 60%; /*DIMENTIONNEMENT DE LA DIV*/
    border-radius: 50px; /*ARRONDIR LES BORDS DE LA DIV*/
    background-color: orange; 
    margin: 20px;
    height: 600px;
    overflow: hidden; 
}
.grid4{
   display: grid;
    /* grid-template-columns: 1fr 2fr ; */
    gap: 20px;
    padding: 20px;
    border: 1px solid rgb(180, 59, 59);
    width: 40%; /*DIMENTIONNEMENT DE LA DIV*/
    border-radius: 50px; /*ARRONDIR LES BORDS DE LA DIV*/
    background-color: aqua; 
    margin: 20px;
    height: 600px;
    overflow: hidden; 
}
.IMAGE1 .IMAGE2 .IMAGE3 .IMAGE4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-container1 {
    display: grid;
    /* grid-template-columns: 1fr 2fr ; */
    gap: 20px;
    padding: 20px;
    border: 1px solid white;
    width: 60%; /*DIMENTIONNEMENT DE LA DIV*/
    border-radius: 50px; /*ARRONDIR LES BORDS DE LA DIV*/
    background-color: white;
    margin: 20px;
    height: 500px;
    overflow: hidden;
}
.image1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-container2 {
    display: grid;
    /* grid-template-columns: 1fr 2fr ; */
    gap: 20px;
    padding: 20px;
    border: 1px solid white;
    width: 40%; /*DIMENTIONNEMENT DE LA DIV*/
    border-radius: 50px; /*ARRONDIR LES BORDS DE LA DIV*/
    background-color: rgba(0, 0, 0, 0.603);
    margin: 20px;
    height: 500px; /*regler la hauteur de la div*/
    overflow: hidden; /*mettre limage à l'intérieur de la div*/
}
.flex{
    display: flex;
}

@media screen and (min-width:300px){
    body{
        background-color: rgba(224, 222, 228, 0.795);
    }
}